{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="" style="text-align:center;margin:15px;margin-bottom:40px;padding:15px">
    <h1>Login</h1>
  </div>
  <form class="site-form"  method="POST">
    {% csrf_token %}
    <div class="form-row justify-content-center">
      <div class="form-group col-md-3 mb-0" style="margin-right:10px;padding:10px">
        {{ form.username|as_crispy_field }}
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-group col-md-3 mb-0"style="margin-right:10px;padding:10px">
        {{ form.password|as_crispy_field }}
      </div>
    </div>

    <input type="submit" class = "btn btn-primary" style="margin:auto;display:block" value="Login">
  </form>
</div>

{% endblock %}
