body {
  background-color : rgb(61,173,170);
  background-repeat: repeat;
  color: black;
  background-size: 1540px 750px;
}

a{
  color: rgb(0,20,20);
}

.techfont{
  font-family: 'Russo One', sans-serif;
  color: rgb(0,20,20);
  font-size: 1.5em;
  margin-bottom: 10px;
}

.postdate{
  text-align: center;
}

.posttitle{
  font-family: 'Russo One', sans-serif;
  color: rgb(0,20,20);
  font-size: 3em;
  text-align: center;
}

.postcontent{
  font-family: 'Montserrat';
  font-size: 1.5em;
}

.btn-comment{
  position: absolute;
  right: 0px;
}

.bigbrand{
  font-size: 1.5em;
}
