{% extends 'blog_app/base.html' %}

{% block content %}


        <h1 class='posttitle loader'>{{ post.title }}</h1>

        {% if post.publish_date %}
            <div class="date postdate">
                {{ post.publish_date }}
            </div>

        {% else %}
            <a class="btn btn-default" href="{% url 'blog_app:post_publish' pk=post.pk %}">Publish</a>
        {% endif %}

      <p class='postcontent' >{{ post.text|safe|linebreaksbr }}</p>


      {% if user.is_authenticated and request.user.id == post.author.id %}
          <a class="btn btn-primary" href="{% url 'blog_app:edit_post' pk=post.pk %}"><i class='fas fa-edit' style='font-size:15px;color:black'></i></a>
          <a class="btn btn-primary" href="{% url 'blog_app:delete_post' pk=post.pk %}"><i class='fas fa-trash' style='font-size:15px;color:black'></i></a>
      {% endif %}



  <hr>
  <a class="btn btn-primary btn-comment" style="margin-bottom:100px; margin-right:210px" href="{% url 'blog_app:add_comment_to_post' pk=post.pk %}">Add comment</a>

  <div class="container">

  {% for comment in post.comments.all %}
  <br>
      {% if user.is_authenticated or comment.approve_comment %}

              {% if comment.approve_comment%}
                {{ comment.create_date }}
                <p>{{ comment.text|safe|linebreaks }}</p>
                <p>Posted by: <strong>{{ comment.author }}</strong></p>
              {% endif %}

              {% if not comment.approve_comment %}
                  {% if user.id == post.author.id %}
                    {{ comment.create_date }}
                    <p>{{ comment.text|safe|linebreaks }}</p>
                    <p>Posted by: <strong>{{ comment.author }}</strong></p>
                    <a class="btn btn-default" href="{% url 'blog_app:comment_remove' pk=comment.pk %}"><i class='fas fa-trash' style='font-size:15px;color:black'></i></a>
                    <a class="btn btn-default" href="{% url 'blog_app:comment_approve' pk=comment.pk %}"><i class="fas fa-check" style='font-size:15px;color:black'></i></a>
                  {% endif %}
              {% endif %}

      {% endif %}
  {% empty %}
      <p>No comments posted.</p>
  {% endfor %}
</div>

{% endblock %}
