{% extends 'blog_app/base.html' %}
{ form.media }
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12">
    <div class="page-header">
      <h1>New post</h1>
    </div>
    <form method="POST" class="post-form">
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{form.title|as_crispy_field}}
      </div>
      <div class="col-6">
        {{form.author|as_crispy_field}}
      </div>
    </div>
    {{form.text|as_crispy_field}}
    <button type="submit" class="btn btn-success">Save</button>
    </form>

    <script>var editor = new MediumEditor('.editable');</script>
  </div>
</div>


{% endblock %}
